a {
  text-decoration: none !important;
}

body {
  background-color: #fff2e7 !important;
  min-height: 100vh;
}

.container {
  margin-top: 80px;
}

.page-container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}
