.banner {
  background-image: asset-url("banner.jpeg");
  background-size: cover;
  background-position: center;
  height: 700px;

  .banner-text {
    height: inherit;
    justify-content: center;
  }

  h1 {
    font-size: 7em;
    color: white;
  }
  h3 {
    font-size: 3em;
    color: white
  }
}
