.banner {
  background: rgba(0, 0, 0, 0.3) asset-url("banner.jpeg");
  background-blend-mode: darken;
  background-size: cover;
  background-position: center;
  height: 900px;

  .banner-text {
    height: inherit;
    justify-content: center;
    padding-top: 225px;
    color: rgb(255, 243, 233)
  }

  h1 {
    font-size: 7em;
  }
  h2 {
    font-size: 3em;
  }
}
