.btn {
  transition-duration: 0.2s;
}

.btn-brown {
  color: #361500;
  background-color: #aa8e6a;
  border-radius: 45px;
  border-color: transparent;
}

.btn-brown:hover {
  color: #aa8e6a;
  background-color: #361500;
  border-radius: 45px;
  border-color: transparent;
}

.btn-brown:focus {
  box-shadow: 0 0 0 0.15rem #2e120521
}
